<!doctype html>
<html>
<head>
	<title>JS-Filter-List</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- Filter Products -->
<div id="products">
	<h1><%= pageTitle %></h1>
	<h1>Filter JSON Data - Table</h1><br/>
	<input type="text" id="productFilter" placeholder="Search Products"><br/><br/>
	<div id="update"></div>
	<div id="database"></div>
</div>

<!-- Filter Products -->
<script type="text/javascript" src="/js/filter-list.js"></script>
</body>
</html>